@import '../../styles/colors.css';

.checkboxContainer {
  composes: commonFontSettings from '../../styles/common.css';
  outline: none !important;
}

.checkbox {
  display: none;
}

.checkboxIcon {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
}

.checkboxLabel {
  height: 24px;
  font-size: 12px;
  font-weight: normal;
  text-transform: capitalize;
  cursor: pointer;

  display: flex;
  align-items: center;

  color: var(--text);

  &.disabled {
    opacity: 0.5;
    pointer-events: none;

    &.checked {
      opacity: 1;
    }
  }

  &.required:after {
    content: '*';
    color: var(--danger-fg);
  }
}

.checkboxLabelText{
  height: 14px;
  margin-left: 4px;
}
