@import '../../../styles/colors.css';


.tableHeaderCell {
  composes: commonFontSettings from '../../../styles/common.css';
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 20px;
  padding-right: 16px;

  &:first-child {
    padding-left: 8px;
  }

  &:last-child {
    padding-right: 8px;
  }

  &.-hidden {}

  &.rt-header-pivot {}

  &.-cursor-pointer {}
}

/* ensure that the inner div-> the heading text has correct wrapping */
.tableHeaderCell div {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sortIcon {
  display: block;
  width: 16px;
  height: 16px;
}

.inlineSVGFlex {
  display: flex;
}