{
    "presets": [
      ["env", {
        "targets": {
          "browsers": [ ">0.1%", "ie 11", "not op_mini all"]
        }
      }],
      "react"
    ],
    "plugins": [
      "transform-object-assign",
      ["react-css-modules", {
        "generateScopedName": "[name]__[local]--[hash:base64:10]"
      }],
      "transform-object-rest-spread",
      "transform-class-properties"
    ]
}
