@import '../../styles/colors.css';


.paragraph {
  margin-top: 8px;
  margin-bottom: 8px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.paragraph b {
  font-weight: 600;
}