@import '../../styles/colors.css';


.paragraph {
  font-size: 13px;
  line-height: 1.38;

  margin-top: 16px;
  margin-bottom: 16px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.paragraph b {
  font-weight: 600;
}