@import '../../styles/colors.css';


.paragraph {
  composes: commonFontSettings from '../../styles/common.css';

  font-size: 13px;
  line-height: 16px;

  color: var(--neutral-500);

  margin-top: 16px;
  margin-bottom: 16px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.paragraph b {
  font-weight: 600;
}