:root {
  /* COLOR PALETTE */
  /* NEUTRAL */
  --neutral-500: #1d273b;
  --neutral-400: #454d61;
  --neutral-300: #6b7282;
  --neutral-200: #979ca8;
  --neutral-100: #c0c4cc;
  --neutral-050: #e1e3e8;
  --neutral-030: #f0f2f5;
  --neutral-020: #fafbfc;
  --neutral-010: #fafafa;
  --neutral-000: #ffffff;

  /* BLUE */
  --blue-950: #002061;
  --blue-900: #00297d;
  --blue-800: #003296;
  --blue-700: #003bb2;
  --blue-600: #0049db;
  --blue-500: #0055ff;
  --blue-400: #3075ff;
  --blue-300: #5c92ff;
  --blue-200: #78a5ff;
  --blue-100: #bad1ff;
  --blue-050: #dbe7ff;

  /* RED */
  --red-950: #57080f;
  --red-900: #700b13;
  --red-800: #8a0d18;
  --red-700: #a7101d;
  --red-600: #ca1423;
  --red-500: #e61728;
  --red-400: #ec535f;
  --red-300: #f0747e;
  --red-200: #f3969e;
  --red-100: #f7b9be;
  --red-050: #fbdcde;
  --red-010: #fff9f9;

  /* ORANGE */
  --orange-950: #8b3c07;
  --orange-900: #b95408;
  --orange-800: #cf6706;
  --orange-700: #e47306;
  --orange-600: #f58602;
  --orange-500: #ff9500;
  --orange-400: #ffb445;
  --orange-300: #ffc063;
  --orange-200: #ffd08b;
  --orange-100: #ffeacc;
  --orange-050: #fff4e5;
  --orange-010: #fffcf7;

  /* GREEN */
  --green-950: #005128;
  --green-900: #006834;
  --green-800: #008040;
  --green-700: #009c4e;
  --green-600: #00bb5d;
  --green-500: #00d66b;
  --green-400: #42e091;
  --green-300: #6be7a9;
  --green-200: #8cecbc;
  --green-100: #b3f2d2;
  --green-050: #d9f8e8;
  --green-010: #f7fdf9;

  /* ACQUA */
  --acqua-950: #094d5f;
  --acqua-900: #0c647a;
  --acqua-800: #0f7b96;
  --acqua-700: #1295b6;
  --acqua-600: #15b4db;
  --acqua-500: #19cdfa;
  --acqua-400: #44d6fa;
  --acqua-300: #62ddfb;
  --acqua-200: #7ce2fc;
  --acqua-100: #b5eefd;
  --acqua-050: #d5f5fe;

  /* TEAL */
  --teal-950: #045346;
  --teal-900: #056b5a;
  --teal-800: #06836f;
  --teal-700: #089f86;
  --teal-600: #09c0a2;
  --teal-500: #0bdbb9;
  --teal-400: #4ae4cb;
  --teal-300: #71ead6;
  --teal-200: #90eedf;
  --teal-100: #b6f4ea;
  --teal-050: #daf9f4;

  /* FUNCTIONAL COLORS */
  /* DEFAULT */
  --background-light: var(--neutral-000);
  --background-tint: var(--neutral-020);
  --border: var(--neutral-050);
  --text: var(--neutral-500);
  --icon: var(--neutral-300);
  --icon-light: var(--neutral-100);
  --primary: var(--blue-500);
  --primary-dark: var(--blue-600);
  --secondary: var(--neutral-030);
  --secondary-dark: var(--neutral-050);

  /* STATUS */
  --ok-fg: var(--green-500);
  --ok-dark: var(--green-700);
  --ok-light: var(--green-100);
  --ok-lighter: var(--green-050);

  --danger-fg: var(--red-500);
  --danger-dark: var(--red-600);
  --danger-light: var(--red-100);
  --danger-lighter: var(--red-050);

  --warning-fg: var(--orange-500);
  --warning-dark: var(--orange-700);
  --warning-light: var(--orange-100);
  --warning-lighter: var(--orange-050);

  --information-fg: var(--blue-500);
  --information-dark: var(--blue-700);
  --information-light: var(--blue-050);

  /* ADMIN */
  --admin-fg: var(--red-500);
  --admin-bg: var(--red-050);
}