:global(.unSelectable) {
  user-select: none;
}

.commonFontSettings {
  font-family: AvenirNext, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--blue-50);
}