@import './iconfont.css';

/**** FONTS ****/
/* AvenirNext-Regular */
@font-face {
  font-family: FiraGo;
  font-weight: 400;
  src: url('../fonts/FiraGo-Regular.woff2') format('woff2'), url('../fonts/FiraGo-Regular.woff') format('woff');
}

/* AvenirNext-Medium */
@font-face {
  font-family: FiraGo;
  font-weight: 500;
  src: url('../fonts/FiraGo-Medium.woff2') format('woff2'), url('../fonts/FiraGo-Medium.woff') format('woff');
}

/* AvenirNext-DemiBold */
@font-face {
  font-family: FiraGo;
  font-weight: 600;
  src: url('../fonts/FiraGO-SemiBold.woff2') format('woff2'), url('../fonts/FiraGO-SemiBold.woff') format('woff');
}

/* AvenirNext-Bold */
@font-face {
  font-family: FiraGo;
  font-weight: 700;
  src: url('../fonts/FiraGo-Bold.woff2') format('woff2'), url('../fonts/FiraGo-Bold.woff') format('woff');
}

/* PyreneIconFont */
@font-face {
  font-family: PyreneIconFont;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;

  src: url('../fonts/pyrene-iconfont.woff') format('woff');
}

[class^="pyreneIcon-"], [class*=" pyreneIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: PyreneIconFont !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}