@import "./iconfont.module.css";

/**** FONTS ****/
/* PyreneIconFont */
@font-face {
  font-family: PyreneIconFont;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;

  src: url("../fonts/pyrene-iconfont.woff") format("woff");
}

[class^="pyreneIcon-"],
[class*=" pyreneIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: PyreneIconFont, Helvetica, sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
