/**** FONTS ****/
/* AvenirNext-Regular */
@font-face {
  font-family: AvenirNext;
  font-weight: 400;
  src: url('../fonts/AvenirNextLTW01-Regular.woff') format('woff');
}

/* AvenirNext-Medium */
@font-face {
  font-family: AvenirNext;
  font-weight: 500;
  src: url('../fonts/AvenirNextLTW01-Medium.woff') format('woff');
}

/* AvenirNext-DemiBold */
@font-face {
  font-family: AvenirNext;
  font-weight: 600;
  src: url('../fonts/AvenirNextLTW01-Demi.woff') format("woff");
}

/* AvenirNext-Bold */
@font-face {
  font-family: AvenirNext;
  font-weight: 700;
  src: url('../fonts/AvenirNextLTW01-Bold.woff') format('woff');
}

/* IconFont */
@font-face {
  font-family: IconFont;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;

  src: url('../fonts/pyrene-iconfont-15.woff') format('woff');
}

[class^="pyreneIcon-"], [class*=" pyreneIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: IconFont !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* handy dandy regex when adding a lot of new icons:
   CMD + R -> activate Regex checkbox
   Search field: (\.)(icon)(\-.*:before(?!\)))
   Replace field: :global($1pyreneIcon$3)
*/

:global(.pyreneIcon-trash:before) {
  content: "\68";
}
:global(.pyreneIcon-info:before) {
  content: "\67";
}
:global(.pyreneIcon-error:before) {
  content: "\66";
}
:global(.pyreneIcon-success:before) {
  content: "\65";
}
:global(.pyreneIcon-warning:before) {
  content: "\62";
}
:global(.pyreneIcon-check:before) {
  content: "\61";
}
:global(.pyreneIcon-infoOutline:before) {
  content: "\39";
}
:global(.pyreneIcon-search:before) {
  content: "\38";
}
:global(.pyreneIcon-delete:before) {
  content: "\37";
}
:global(.pyreneIcon-errorOutline:before) {
  content: "\36";
}
:global(.pyreneIcon-filter:before) {
  content: "\35";
}
:global(.pyreneIcon-collapsDown:before) {
  content: "\33";
}
:global(.pyreneIcon-collapsUp:before) {
  content: "\34";
}
:global(.pyreneIcon-chevronDown:before) {
  content: "\63";
}
:global(.pyreneIcon-chevronUp:before) {
  content: "\64";
}
:global(.pyreneIcon-chevronLeft:before) {
  content: "\32";
}
:global(.pyreneIcon-chevronRight:before) {
  content: "\31";
}
:global(.pyreneIcon-share:before) {
  content: "\30";
}
