@import './iconfont.css';

/**** FONTS ****/
/* AvenirNext-Regular */
@font-face {
  font-family: AvenirNext;
  font-weight: 400;
  src: url('../fonts/AvenirNextLTW01-Regular.woff') format('woff');
}

/* AvenirNext-Medium */
@font-face {
  font-family: AvenirNext;
  font-weight: 500;
  src: url('../fonts/AvenirNextLTW01-Medium.woff') format('woff');
}

/* AvenirNext-DemiBold */
@font-face {
  font-family: AvenirNext;
  font-weight: 600;
  src: url('../fonts/AvenirNextLTW01-Demi.woff') format("woff");
}

/* AvenirNext-Bold */
@font-face {
  font-family: AvenirNext;
  font-weight: 700;
  src: url('../fonts/AvenirNextLTW01-Bold.woff') format('woff');
}

/* PyreneIconFont */
@font-face {
  font-family: PyreneIconFont;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;

  src: url('../fonts/pyrene-iconfont.woff') format('woff');
}

[class^="pyreneIcon-"], [class*=" pyreneIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: PyreneIconFont !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}