:global(.pyreneIcon-location:before){
  content: "\73";
}
:global(.pyreneIcon-refresh:before){
  content: "\72";
}
:global(.pyreneIcon-notifications:before){
  content: "\71";
}
:global(.pyreneIcon-add:before){
  content: "\70";
}
:global(.pyreneIcon-addCircleOutline:before){
  content: "\6f";
}
:global(.pyreneIcon-addRound:before){
  content: "\6e";
}
:global(.pyreneIcon-eye:before){
  content: "\6d";
}
:global(.pyreneIcon-hot:before){
  content: "\6c";
}
:global(.pyreneIcon-question:before){
  content: "\6b";
}
:global(.pyreneIcon-data:before){
  content: "\6a";
}
:global(.pyreneIcon-home:before){
  content: "\69";
}
:global(.pyreneIcon-trash:before){
  content: "\68";
}
:global(.pyreneIcon-info:before){
  content: "\67";
}
:global(.pyreneIcon-error:before){
  content: "\66";
}
:global(.pyreneIcon-success:before){
  content: "\65";
}
:global(.pyreneIcon-warning:before){
  content: "\62";
}
:global(.pyreneIcon-check:before){
  content: "\61";
}
:global(.pyreneIcon-infoOutline:before){
  content: "\39";
}
:global(.pyreneIcon-search:before){
  content: "\38";
}
:global(.pyreneIcon-delete:before){
  content: "\37";
}
:global(.pyreneIcon-errorOutline:before){
  content: "\36";
}
:global(.pyreneIcon-filter:before){
  content: "\35";
}
:global(.pyreneIcon-collapsDown:before){
  content: "\33";
}
:global(.pyreneIcon-collapsUp:before){
  content: "\34";
}
:global(.pyreneIcon-chevronDown:before){
  content: "\63";
}
:global(.pyreneIcon-chevronUp:before){
  content: "\64";
}
:global(.pyreneIcon-chevronLeft:before){
  content: "\32";
}
:global(.pyreneIcon-chevronRight:before){
  content: "\31";
}
:global(.pyreneIcon-share:before){
  content: "\30";
}
