.table {
  composes: commonFontSettings from '../../styles/common.css';
  width: 100%;
  font-size: 13px;
  color: var(--neutral-500);
}

.tableHeaderRow {
  height: 31px;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex: 1;
  align-items: center;
}

.tableHeaderCell {
  font-weight: 600;
  flex: 1;
  min-width: 0;
  margin-right: 16px;
}

.tableHeaderCell:last-child {
  margin-right: 0px;
}

.tableRow {
  height: 31px;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex: 1;
  align-items: center;
}

.tableCell {
  flex: 1;
  min-width: 0;
  margin-right: 16px;
}

.tableCell:last-child {
  margin-right: 0px;
}

.tableCellContent {
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
