@import '../../styles/colors.css';

.container {
  width: 100%;
  height: 100%;
}

.table {
  font-size: 13px;
  color: var(--neutral-500);
  border-spacing: 0;
  table-layout: fixed;
  font-weight: normal;
  display: block;
}

.tableHeader {
  display: block;
}

.tableHeaderRow {
  height: 31px;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  line-height: 20px;
}

.tableHeaderCell {
  font-weight: 600;
  display: block;
  flex: 1 0 0%;
  min-width: 0;
  margin-right: 16px;
  padding: 0;
}

.tableHeaderCell:first-child {
  margin-left: 8px;
}

.tableHeaderCell:last-child {
  margin-right: 8px;
}

.tableBody {
  display: block;
}

.tableRow {
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  line-height: 18px;
  padding-top: 7px;
  padding-bottom: 6px;
  /* +1px border*/
  font-size: 13px;
}

.tableRow:hover {
  background-color: var(--background-tint);
}

.tableRowWithFunction:hover {
  cursor: pointer;
}

.tableCell {
  padding: 0;
  display: block;
  flex: 1 0 0%;
  min-width: 0;
  margin-right: 16px;
}

.tableCell:first-child {
  margin-left: 8px;
}

.tableCell:last-child {
  margin-right: 8px;
}

.tableCellContent {
  min-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.noData {
  padding: 39px 0 0 8px;
  font-family: AvenirNext;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--neutral-500);
}

.loader {
  padding: 35px 0 0 8px;
}

