.table {
  composes: commonFontSettings from '../../styles/common.css';
  width: 100%;
  font-size: 13px;
  margin-top: 20px;
  color: var(--neutral-500);
}

.tableHeaderRow {
  border-bottom: 1px solid var(--border);
  padding-bottom: 6px; /* +1px border*/
  display: flex;
  flex: 1;
}

.tableHeaderCell {
  font-weight: 600;
  flex: 1;
  min-width: 0;
  margin-right: 16px;
}

.tableHeaderCell:last-child {
  margin-right: 0px;
}

.tableRow {
  padding-top: 7px;
  padding-bottom: 6px; /* +1px border*/
  border-bottom: 1px solid var(--border);
  display: flex;
  flex: 1;
}

.tableCell {
  flex: 1;
  min-width: 0;
  margin-right: 16px;
}

.tableCell:last-child {
  margin-right: 0px;
}

.tableCellContent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
