@import '../../styles/colors.css';

.textFieldContainer {
  composes: commonFontSettings from '../../styles/common.css';

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &.invalid {
    & .textField {
      border-color: var(--danger-fg);
    }
  }
}

.textFieldTitle {
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  color: var(--neutral-500);
  line-height: 12px;
  margin-bottom: 4px;

  &.required:after {
    content: '*';
    color: var(--danger-fg);
  }
}


.textFieldIconLayoutContainer {
  position: relative;
}

.textField {
  box-sizing: border-box;

  height: 32px;
  width: 100%;

  border-radius: 2px;
  border: solid 1px var(--neutral-100);
  background-color: var(--background-tint);
  outline: none;

  &[type=text] {
    padding: 8px 7px;

    font-family: FiraGO, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    color: var(--text);
  }

  &.hasIcon[type=text] {
    padding-right: 22px;
  }

  &.filled {
    background-color: var(--background-light);
    border-radius: 2px;
    border: solid 1px var(--neutral-500);
  }

  &:hover, &:focus {
    border-color: var(--primary);
    background-color: var(--background-light);
  }

  &::placeholder {
    font-size: 12px;
    color: var(--neutral-300);
  }
}

.textFieldIcon {
  font-size: 11px;
  color: var(--neutral-300);
  position: absolute;
  right: 8px;
  top: 10px;
}

.textFieldHelper {
  margin-top: 3px;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.3px;
  text-align: left;
  color: var(--neutral-200);
}

.invalidLabel {
  margin-top: 3px;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.3px;
  text-align: left;
  color: var(--danger-fg);
}

.errorIcon {
  font-size: 13px;
  margin-right: 4px;
  vertical-align: text-top;
}
