@import '../../styles/colors.css';

.checkboxList {
  composes: commonFontSettings from '../../styles/common.css';

  box-sizing: border-box;
  width: 152px;
}

.listHeader {
  composes: commonFontSettings from '../../styles/common.css';

  box-sizing: border-box;
  border-bottom: solid 1px var(--border);
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: 12px;
  font-style: italic;
  color: var(--neutral-400);
}

.list {
  overflow: auto;
  box-sizing: border-box;
  padding: 4px 0;
  max-height: 260px;
}

.listItem {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 8px;
  padding-right: 16px;
  flex: 1;
  cursor: pointer;

  &.selected, &:hover {
    background-color: var(--neutral-030);
  }
}

.listIcon {
  color: var(--blue-500);
  width: 16px;
}

.listLabel {
  composes: commonFontSettings from '../../styles/common.css';

  padding-left: 4px;
  font-size: 12px;
  color: var(--text);
}