{
    "presets": [
      "env",
      "react"
    ],
    "plugins": [
      "transform-object-assign",
      ["react-css-modules", {
        "generateScopedName": "[name]__[local]--[hash:base64:10]"
      }],
      "react-docgen",
      "transform-object-rest-spread",
      "transform-class-properties"
    ]
}
