{
  "extends": "eslint-config-pyrene",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-restricted-imports": [
      "error",
      "jquery"
    ],
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".jsx"
        ]
      }
    ],
    "react/jsx-props-no-spreading": "off", 
    "react/forbid-prop-types": 0, 
    "no-multiple-empty-lines": 0
  }, 
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "env": { "browser": true, "es6": true, "node": true },
      "extends": [
        "eslint-config-pyrene",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "globals": { "Atomics": "readonly", "SharedArrayBuffer": "readonly" },
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaFeatures": { "jsx": true },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json"
      },
      "plugins": ["react", "@typescript-eslint"],
      "rules": {
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "comma-dangle": ["error", "always-multiline"],
        "no-use-before-define": "off",
        "react/jsx-props-no-spreading": "off", 
        "react/jsx-filename-extension": [
          2,
          {
            "extensions": [
              ".tsx"
            ]
          }
        ], 
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-use-before-define": "error"
      },
      "settings": { "react": { "version": "detect" } }
    }
  ]
}