{
  "extends": "eslint-config-pyrene",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-restricted-imports": [
      "error",
      "jquery"
    ],
    "react/jsx-props-no-spreading": "off", 
    "react/forbid-prop-types": 0, 
    "no-multiple-empty-lines": 0
  } 
}