{
  "extends": "eslint-config-pyrene",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-restricted-imports": ["error", "jquery"], 
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }]

  }
}
