@import '../../../styles/colors.css';

.treeTableCell {
  composes: commonFontSettings from '../../../styles/common.css';
  box-sizing: border-box;

  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--text);
  width: 100px;
  flex: 100 0 auto;

  padding-right: 16px;

  &:last-child {
    padding-right: 8px;
  }
}

.cellDataContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pivotIcon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin-right: 4px;
  cursor: pointer;

  &.sectionOpen {
    transform: rotate(-180deg);
  }
}

.iconSpaceholder {
  min-width: 16px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
