.iconDisplay {

}

.iconSearchBar {
  box-sizing: border-box;
  width: 304px;
  height: 32px;
  margin-bottom: 40px;
  border-radius: 2px;
  border: solid 1px var(--neutral-050);

  outline: none;

  &.filled {
    border: solid 1px var(--neutral-200);
  }

  &:hover, &:focus {
    border: solid 1px var(--blue-500);
  }

  &[type=text] {
    font-family: AvenirNext;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;

    padding-left: 8px;

    &::placeholder {
      color: var(--neutral-200);
    }
  }

}