.radioSelectionContainer {
  /*composes: commonFontSettings from '../../../styles/common.css';*/
  display: flex;
  justify-content: flex-start;

  &.alignment-vertical {
    flex-direction: column;
  }
  &.alignment-horizontal {
    flex-direction: row;
  }

  &.invalid .radioLabel {
    & .radioIcon {
      background-image: url('./radio-invalid.svg');
    }
    &:hover .radioIcon {
      background-image: url('./radio-invalid-hover.svg');
    }
  }
}

.radioInput {
  display: none;
}

.radioIcon {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  margin-right: 6px;

  background-image: url('./radio-blank.svg');
}

.radioLabel {
  height: 24px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-transform: capitalize;
  cursor: pointer;

  &:hover .radioIcon {
    background-image: url('./radio-hover.svg');
  }

  &.checked {
    & .radioIcon {
      background-image: url('./radio-selected.svg');
    }
    &:hover .radioIcon {
      background-image: url('./radio-selected-hover.svg');
    }
    &.disabled .radioIcon {
      opacity: 0.5;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    &.checked {
      opacity: 1;
    }
  }

}

.spacer-horizontal {
  width: 16px;
}

.spacer-vertical {
  height: 8px;
}

