@import 'pyrene/dist/colors.css';

.tooltip {
  color: var(--neutral-000);
  border-radius: 2px;
  box-shadow: 0 4px 8px -2px rgba(51, 65, 81, 0.3), 0 0 1px 0 rgba(0, 21, 44, 0.3);
  background-color: var(--neutral-400);
  padding: 8px;
  line-height: 18px;
  font-size: 13px;
}

.dataSeriesLabel {
  font-weight: 600;
}

.dataRow {
  display: flex;
}

.dataRow:first-child {
  padding-top: 8px;
}

.dataLabel {
  padding-left: 4px;
}

.data {
  padding-left: 24px;
  margin-left: auto;
}
