@import '../../styles/colors.module.css';

.keyValueTable {
  composes: commonFontSettings from '../../styles/common.module.css';

  color: #1d273b;
  position: relative;
  vertical-align: text-top;
  width: 100%;
}

.keyValueBody {
  border-collapse: collapse;
  width: 100%;
}

.keyValueRow {
  background-color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  &.row-greyLabel {
    padding-top: 6px;
    align-items: baseline;
    line-height: 22px;
  }
  &.row-border {
    display: flex;
    border-bottom: 1px solid var(--border);
    padding-top: 7px;
    padding-bottom: 6px;
    line-height: 18px;
  }
}

.keyValueRow:first-child {
  padding-top: 6px;
  &.row-greyLabel {
    padding-top: 0px;
  }
  &.row-border {
    border-top: 1px solid var(--border);
  }
}
.keyValueRow:last-child {
  &.row.greyLabel {
    padding-bottom: 0px;
  }

  &.row-border {
    padding-bottom: 6px;
  }
}

.keyValueCellKey {
  /* IE needs it to correctly overflow */
  padding: 0 16px 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  &.key-border {
    font-weight: 500;
    overflow: hidden;
  }
  &.key-greyLabel {
    font-weight: 400;
    color: var(--neutral-200);
    padding-left: 0;
  }
}

.keyValueCellValue {
  width: 100%;
  right: 8px;
  padding: 0 8px 0 0;
  font-weight: 400;
  &.value-greyLabel {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &.value-border {
    word-wrap: break-word;
  }
}

.keyValueTableTitle {
  line-height: 1.5;
  color: var(--text);
  &.title-border {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
  }
  &.title-greyLabel {
    font-size: 12px;
    margin-bottom: 8px;
    font-weight: 500;
  }
}
