@import '../../styles/colors.css';

.keyValueTable {
  composes: commonFontSettings from '../../styles/common.css';

  color: #1d273b;
  position: relative;
  vertical-align: text-top;
  width: 100%;
}

.keyValueBody {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.keyValueRow {
  border-bottom: 1px solid var(--border);
  background-color: #ffffff;
  display: flex;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 12px;
  letter-spacing: 0;
}

.keyValueRow:first-child {
  border-top: 1px solid var(--border);
  padding-top: 6px;
}

.keyValueCellKey {
  width: 256px;
  min-width: 256px;
  max-width: 256px;
  /* IE needs it to correctly overflow */
  padding: 0 16px 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  line-height: 18px;
  font-weight: 500;
}

.keyValueCellValue {
  width: 100%;
  word-wrap: break-word;
  right: 8px;
  /* 1px extra top/bottom for value cell only = 8px */
  padding: 1px 8px 1px 0;
  line-height: 16px;
  font-weight: 400;
}

.keyValueTableTitle {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text);
  text-transform: capitalize;
}
