.title {
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 14px;
  color: grey;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
}

.legendItem {
  font-size: 14px;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: blue;
}
