@import '../../styles/colors.css';

.modalOverlay {
  composes: commonFontSettings from '../../styles/common.css';

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 21, 44, 0.6);
  z-index: 2;
}

.modalContainer {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

  background-color: var(--neutral-000);
  border-radius: 4px;
  box-shadow:
          5px 15px 30px 0 rgba(0, 21, 44, 0.15),
          0 0 1px 0 rgba(0, 21, 44, 0.3),
          0 4px 8px -2px rgba(0, 21, 44, 0.2);

  &.small {
    width: 440px;
  }
  &.large {
    width: 720px;
  }
  &.xlarge {
    width: 960px;
  }
}

.titleBar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 16px 24px;
  height: 72px;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: var(--neutral-500);
}

.topRightSection {
  display: flex;
  align-items: center;
}

.closeButton {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  font-size: 24px;
  color: var(--neutral-300);

  &:hover {
    color: var(--neutral-500);
  }
}

.stepperContainer {
  display: flex;
}

.contentContainer {
  box-sizing: border-box;

  &.contentScrolling {
    padding: 1px 0;
    border-top: solid 1px var(--neutral-050);
    border-bottom: solid 1px var(--neutral-050);
  }
}

.content {
  box-sizing: border-box;

  &.contentPadding {
    padding: 7px 24px 15px 24px;
  }

  &.contentScrolling {
    overflow: auto;
    min-height: 70px;
    max-height: 510px;
  }

  &::-webkit-scrollbar-button{
    display: none;
  }

  &::-webkit-scrollbar-thumb{
    background-color: var(--neutral-400);
  }

  &::-webkit-scrollbar-track{
    background-color: var(--neutral-050);
  }

  &::-webkit-scrollbar{
    width: 6px;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 72px 0;
}

.buttonBarContainer {
  box-sizing: border-box;
  padding: 0 24px;
}

