@import '../../styles/colors.css';

.modalOverlay {
  composes: commonFontSettings from '../../styles/common.css';

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29, 39, 59, 0.5);
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  box-sizing: border-box;

  background-color: var(--background-light);
  border-radius: 4px;
  box-shadow: 5px 15px 30px 0 rgba(0, 21, 44, 0.2), 0 4px 8px -2px rgba(0, 21, 44, 0.2);
  border: 1px solid var(--border);

  &.small {
    width: 440px;
  }

  &.large {
    width: 720px;
  }

  &.xlarge {
    width: 960px;
  }
}

.titleBar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px 16px 20px 24px;
  height: 64px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.1px;
  color: var(--text);

  & .title {
    line-height: 24px;
  }
}

.topRightSection {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.closeButtonContainer {
  margin-left: 16px;
}

.contentContainer {
  box-sizing: border-box;

  &.contentScrolling {
    border-top: solid 1px var(--border);
    border-bottom: solid 1px var(--border);
  }
}

.content {
  box-sizing: border-box;

  &.contentPadding {
    padding: 7px 24px 15px 24px;
  }

  &.contentScrolling {
    overflow: auto;
    min-height: 72px;
    max-height: 512px;
  }

  &.overlay {
    opacity: 0.5;
    pointer-events: none;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 72px 0;
}

.buttonBarContainer {
  box-sizing: border-box;
  padding: 0 24px;
}
