@import '../../styles/colors.css';

.iconbutton {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;

  &.disabled {
     opacity: 0.5;
     pointer-events: none;
  }
}