@import '../../styles/colors.css';

.iconbutton {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.type-neutral {
    color: var(--neutral-500);
  }

  &.type-info {
    color: var(--blue-600);
  }

  &.type-success {
    color: var(--green-700);
  }

  &.type-danger {
    color: var(--red-600);
  }

  &.type-warning {
    color: var(--orange-700);
  }
}