.arrowSelector {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 32px;
}

.value {
  composes: commonFontSettings from '../../../../styles/common.module.css';
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
  border-top: solid 1px var(--neutral-050);
  border-bottom: solid 1px var(--neutral-050);
  padding: 7px 0;

  &.disabled {
    opacity: .5;
    cursor: default;
    pointer-events: none;
  }
}

.contentOuter {
  display: flex;
  height: 18px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-left: solid 1px #e1e3e8;
  border-right: solid 1px #e1e3e8;
}

.contentInner {
  height: 32px;
  margin: -7px -1px;
}

.pointerCursor {
  cursor: pointer;
}
