.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.table_container{
  margin-top: 64px;
}

.table_container table {
  width: 100%;
  font-size: 14px;
  text-align: left;
  border: none;
}

.table_container table th {
  box-shadow: inset 0 -1px 0 0 var(--neutral-050);
  text-transform: capitalize;
  height: 40px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
  color: var(--neutral-500);
  opacity: 0.5;
}

.table_container table th:first-child {
  padding: 0 0 0 8px;
}

.table_container table td:first-child {
  padding: 0 0 0 8px !important;
  font-weight: 600;
  text-transform: capitalize;
}

.table_container table td:last-child {
  padding-right: 8px;
}

.table_container table td {
  vertical-align: top;
}

.cell {
  max-height: 32px;
  padding-top: 16px;
  font-weight: normal;
  line-height: 32px;
}

.propModifierCell {
  max-height: 32px;
  padding-top: 16px;
  line-height: initial;
}


.descriptionRow {
  box-shadow: inset 0 -1px 0 0 var(--neutral-050);
}

.descriptionCell {
  text-transform: none;
  font-weight: 500;
  font-size: 13px;
  line-height: normal;
  color: var(--neutral-200);
  padding: 16px 0;
}