.descriptionBox {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.71;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 40px;

  & strong {
    font-weight: 600;
  }
}