@import '../../styles/colors.css';

.checkboxList {
  composes: commonFontSettings from '../../styles/common.css';

  box-sizing: border-box;
  padding-top: 4px;
  width: 152px;


}

.title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--text);
  text-transform: uppercase;
}

.listHeader {
  box-sizing: border-box;
  border-bottom: solid 1px var(--border);
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
}

.list {
  overflow: auto;
  box-sizing: border-box;
  padding: 0 0 4px 8px;
  max-height: 260px;
}

.listItem {
  display: flex;
  align-items: center;
  height: 32px;
}
