@import '../../styles/colors.css';

.checkboxPopover {
  composes: commonFontSettings from '../../styles/common.css';
  display: inline-block;
}


.popoverTriggerButton {
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0 8px;
  height: 32px;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: var(--secondary);
  }

  &.popoverOpen {
    background-color: var(--secondary);
  }
}

.buttonLabel {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  color: var(--text);
  padding: 0 8px;
}

.arrowIcon {
  padding: 0 !important;

  height: 16px;
  width: 16px;

  font-size: 16px;
  color: var(--neutral-300);
}

.disabled {
  opacity: .5;
  cursor: default;
  pointer-events: none;
  /* deactivate hover */
}