@import '../../styles/colors.css';

.pill {
  position: relative;
  height: 15px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 8px;
  padding: 2px 5px 1px 6px;
  z-index: 2;

  &.type-neutral {
     background-color: var(--neutral-050);
     color: var(--neutral-400);
   }

  &.type-info {
     background-color: var(--information-light);
     color: var(--blue-600);
  }

  &.type-success {
     background-color: var(--ok-light);
     color: var(--green-700);
  }

  &.type-danger {
     background-color: var(--danger-lighter);
     color: var(--red-600);
  }

  &.type-warning {
     background-color: var(--warning-light);
     color: var(--orange-700);
  }
}

.icon {
  font-size: 24px;
  position: relative;
  right: 12px;
  top: 31px;
  z-index: 1;
}
