@import '../../styles/colors.css';

.pill {
  position: relative;
  line-height: 16px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 8px;
  padding: 0 4px 0 4px;
  z-index: 2;

  &.type-neutral {
    background-color: var(--neutral-050);
    color: var(--neutral-400);
  }

  &.type-info {
    background-color: var(--information-light);
    color: var(--blue-600);
  }

  &.type-success {
    background-color: var(--ok-light);
    color: var(--green-700);
  }

  &.type-danger {
    background-color: var(--danger-lighter);
    color: var(--red-600);
  }

  &.type-warning {
    background-color: var(--warning-light);
    color: var(--orange-700);
  }
}

.icon {
  font-size: 24px;
  position: absolute;
  z-index: 1;
  transform: translate(-12px, 6px);

  &.type-neutral {
    color: var(--neutral-500);
  }

  &.type-info {
    color: var(--blue-600);
  }

  &.type-success {
    color: var(--green-700);
  }

  &.type-danger {
    color: var(--red-600);
  }

  &.type-warning {
    color: var(--orange-700);
  }
}