@import '../../../styles/colors.css';


.tablePagination {
  composes: commonFontSettings from '../../../styles/common.css';
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  color: var(--neutral-200);
}

.pageNavigation {
  display: flex;
  align-items: center;
}

.pageTracker {
  color: var(--text);
  white-space: nowrap;

  &.disabled {
    color: var(--neutral-200);
  }
}

.pageSizeSelectOptions {
  display: flex;
  align-items: center;
}

.pageSizeSelect {
  width: 57px;
  height: 32px;
  margin-left: -8px;
}

.spacer {
  &.small {
    width: 8px;
  }

  &.medium {
    width: 24px;
  }
}

.separator {
  width: 1px;
  height: 24px;
  background-color: var(--border);
  margin: 0 8px;
}

.resultsCounter {}