@import '../../styles/colors.css';


.spacer-xsmall {
  margin-top: 4px;
  margin-bottom: 4px;
}

.spacer-small {
  margin-top: 8px;
  margin-bottom: 8px;
}

.spacer-medium {
  margin-top: 12px;
  margin-bottom: 12px;
}

.spacer-large {
  margin-top: 24px;
  margin-bottom: 24px;
}

.spacer-xlarge {
  margin-top: 32px;
  margin-bottom: 32px;
}

.spacer-xxlarge {
  margin-top: 40px;
  margin-bottom: 40px;
}

.spacer-xxxlarge {
  margin-top: 60px;
  margin-bottom: 60px;
}

.spacer {
  overflow: auto;
}