@import '../../styles/colors.css';

.spacer-xsmall {
  margin-top: 8px;
}

.spacer-small {
  margin-top: 16px;
}

.spacer-medium {
  margin-top: 24px;
}

.spacer-large {
  margin-top: 48px;
}

.spacer-xlarge {
  margin-top: 64px;
}

.spacer-xxlarge {
  margin-top: 80px;
}

.spacer-xxxlarge {
  margin-top: 120px;
}

.spacer {
  overflow: auto;
}