@import '../../styles/colors.css';

.container {
  composes: commonFontSettings from '../../styles/common.css';
  border: 1px solid var(--neutral-050);
  width: 100%;
  border-radius: 4px;
  overflow: hidden;

  & .innerContentContainer {
    padding: 16px 23px 23px 23px;
  }

  &.expanded {
    & .collapsArrow {
      transform: rotate(180deg);
    }

    & .contentContainer {
      height: auto;
    }

    & .header {
      height: 47px;
      padding-bottom: 12px;
    }
  }

  & .header {
    box-sizing: border-box;
    padding: 11px 23px;
    height: 46px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &.collapsible:hover {
      cursor: pointer;
    }

    &.collapsible:hover .collapsArrow {
      color: var(--primary);
    }

    & .title {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.1px;
      color: var(--text);
      line-height: 24px;
      text-transform: uppercase;
    }
  }

  & .adminAndArrowContainer {
    display: flex;
    align-items: center;
    margin-left: 48px;
  }

  & .collapsArrow {
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin-left: 24px;
    display: inline-block;
    vertical-align: text-bottom;

    transition: transform 0.4s ease-in-out;
  }

  & .contentContainer {
    box-sizing: border-box;
    height: 0;
    overflow: hidden;

    background-color: var(--background-light);
    transition: height 0.4s ease-in-out;
  }

}
