@import '../../styles/colors.css';

.arrowButton {
  box-sizing: border-box;

  border: none;
  outline: none;
  cursor: pointer;

  background-color: var(--neutral-000);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2px;
  padding: 0 !important;

  &.type-bordered {

    border: solid 1px #b2b8bf;
    height: 32px;
    width: 32px;

    font-size: 18px;

    & .icon {
      display: block;
      width: 18px;
      height: 18px;
      margin-left: 1px;
    }

    &:hover {
      border-color: var(--blue-500);
    }
  }

  &.type-minimal {
    height: 16px;
    width: 16px;
    font-size: 16px;

    & .icon {
      display: inline-block;
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--neutral-030);
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* mc.css overrides */
.arrowButton {

  &.type-bordered {

    & .icon {
      color: var(--font-black) !important;
    }

    &:hover, &:focus, &:active {
      border-color: var(--blue-500) !important;
      background-color: var(--neutral-000) !important;
    }

  }

  &.type-minimal {
    & .icon {
      color: var(--font-black) !important;
    }

    &:hover, &:focus, &:active {
      background-color: var(--neutral-030) !important;
      border: none !important;
    }
  }

}