@import '../../styles/colors.css';

.arrowButton {
  box-sizing: border-box;
  height: 32px;
  width: 32px;

  border-radius: 2px;
  border: solid 1px #b2b8bf;

  font-size: 18px;

  outline: none;
  cursor: pointer;

  background-color: var(--neutral-000);

  display: flex;
  justify-content: center;
  align-items: center;

  &.direction-up {
    transform: rotate(-90deg);
  }
  &.direction-down {
    transform: rotate(90deg);
  }
  &.direction-left {
    transform: rotate(180deg);
  }
  &.direction-right {
    transform: none;
  }

  &:hover {
    border-color: var(--blue-500);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.icon {
  display: block;
  width: 18px;
  height: 18px;
  margin-left: 1px;
}