.searchBarContainer {
  box-sizing: border-box;
  height: 40px;
  border-top: solid 1px #e5e7e9;
  background-color: var(--neutral-020);

  display: flex;
  align-items: center;

  padding: 0 24px;

  &.focused {
    background-color: var(--neutral-000);

    & .searchIcon {
      color: var(--blue-500);
    }
  }

  & .searchIcon {
    font-size: 20px;
    color: var(--neutral-300);
  }

  & .searchInput {
    width: 100%;
    height: 40px;
    margin-left: 16px;
    border: none;
    outline: none;

    &:focus[type=text] {
      background-color: var(--neutral-000);
    }

    &[type=text] {
      font-family: AvenirNext;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: var(--neutral-400);
      background-color: var(--neutral-020);
      box-sizing: border-box;
      margin-top: 1px;
    }

    &::placeholder {
      color: var(--neutral-200);
    }
  }

  & .clearIcon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: var(--neutral-300);

    &:hover {
      cursor: pointer;
      color: var(--red-500);
    }
  }
}