@import '../../../styles/colors.module.css';

.treeTableCell {
  composes: commonFontSettings from '../../../styles/common.module.css';
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  padding-right: 16px;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--text);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cellContent {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pivotIcon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin-right: 4px;
  cursor: pointer;

  &.sectionOpen {
    transform: rotate(-180deg);
  }
}

.iconSpaceholder {
  min-width: 16px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
