@import '../../styles/colors.css';

.shareDialogContainer {
}

.shareDialog {
  composes: commonFontSettings from '../../styles/common.css';

  & .title {
    box-sizing: border-box;
    margin: 0 24px;
    padding-top: 24px;
    height: 56px;

    font-size: 18px;
    font-weight: 600;
    line-height: 1.78;
    color: var(--neutral-500);
  }

  & .content {
    margin: 16px 24px;
    height: 32px;

    & input {
      width: 350px;

      border-radius: 2px;
      border: solid 1px var(--neutral-100);

      &[type="text"] {
        box-sizing: border-box;
        padding-left: 8px;
        height: 32px;
        letter-spacing: normal;
        font-family: inherit;
        font-style: normal;
        font-stretch: normal;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        text-align: left;
        color: var(--neutral-500);
      }
    }
  }
}
