.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text);
}

.container {
  display: flex;
  padding-bottom: 6px; /* +1px border*/
}

.subtitle {
  font-size: 14px;
  color: var(--neutral-300);
}

.legend {
  display: flex;
  margin-right: 24px;
  margin-left: auto
}

.legendItem {
  font-size: 13px;
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: blue;
}
