.tableBody {
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
}

.tableRow {
  border-bottom: 1px solid var(--border);
  background-color: #ffffff;
  display: flex;
  line-height: 18px;
  padding-top: 7px;
  padding-bottom: 6px; /* +1px border*/
  font-size: 13px;
}

.tableRow:first-child {
  border-top: 1px solid var(--border);
  padding-top: 6px; /* +1px border*/
}

.tableCell {
  width: 100%;
  font-weight: 600; /* demibold */
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.tableTitle {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text);
  text-transform: capitalize;
}
