@import '../../styles/colors.css';

.label-and-value {
  composes: commonFontSettings from '../../styles/common.css';
  max-width: 100%;
}

.label-and-value .label,
.label-and-value .value {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  &.type-neutral {
    color: var(--neutral-500);
  }

  &.type-info {
    color: var(--information-dark);
  }

  &.type-success {
    color: var(--ok-dark);
  }

  &.type-danger {
    color: var(--danger-dark);
  }

  &.type-warning {
    color: var(--warning-dark);
  }
}

.label-and-value .label {
  font-family: FiraSans;
  font-size: 12px;
  font-stretch: condensed;
  height: 14px;
  color: var(--neutral-200);
  letter-spacing: 0.55px;
  text-transform: capitalize;
  margin-bottom: 2px;
}

.label-and-value .value {
  color: var(--neutral-500);
}

.label-and-value-tiny .value {
  font-size: 13px;
  line-height: 24px;

  letter-spacing: -0.05px;
}

.label-and-value-small .value {
  font-size: 14px;
  line-height: 24px;

  font-weight: 500;

  letter-spacing: -0.05px;
}

.label-and-value-large .value {
  font-size: 24px;
  line-height:  32px;

  font-weight: 500;

  letter-spacing: -0.2px;
}
