.axisLeft {
  height: 320px;
  position: relative;
}

.axisLeftWide {
  width: 102px;
}

.axisLeftNarrow {
  width: 36px;
}

.axisBottom {
  height: 24px;
  /* position: absolute;
  top: -24px;
  left: 0;
  width: 100%; */
}
