.checkboxContainer {
  /* composes: commonFontSettings from '../../../styles/common.css'; */
}

.checkbox {
  display: none;
}

.checkboxIcon {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  margin-right: 6px;

  background-image: url('./checkbox-blank.svg');
}

.checkboxLabel {
  height: 24px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-transform: capitalize;
  cursor: pointer;

  &:hover .checkboxIcon {
    background-image: url('./checkbox-hover.svg');
  }

  &.checked {
    & .checkboxIcon {
      background-image: url('./checkbox-selected.svg');
    }
    &:hover .checkboxIcon {
      background-image: url('./checkbox-selected-hover.svg');
    }
    &.disabled .checkboxIcon {
      opacity: 0.5;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    &.checked {
      opacity: 1;
    }
  }

  &.invalid {
    & .checkboxIcon {
      background-image: url('./checkbox-invalid.svg');
    }
    &:hover .checkboxIcon {
      background-image: url('./checkbox-invalid-hover.svg');
    }
  }
}
