@import '../../styles/colors.css';


.filter, .filterBoxes {
  composes: commonFontSettings from '../../styles/common.css';
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.filterBoxes {
  flex-wrap: wrap;
  align-items: center;
}

.filterSearchBar {
  position: relative;
}

.filterSearchBarInput {
  box-sizing: border-box;
  width: 204px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px var(--border);

  outline: none;

  &.filled {
    border: solid 1px var(--neutral-200);
  }

  &:hover, &:focus {
    border: solid 1px var(--primary);
  }

  &[type=text] {
    font-family: AvenirNext;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;

    padding-left: 32px;

    &::placeholder {
      color: var(--neutral-200);
    }
  }

}

.searchIcon {
  display: block;
  padding: 0 !important;
  width: 20px;
  height: 20px;

  font-size: 20px;
  color: var(--neutral-400);

  position: absolute;
  top: 6px;
  left: 8px;
}

.spacer {
  width: 16px;
}