@import '../../../styles/colors.css';


.filterPopover {
  composes: commonFontSettings from '../../../styles/common.css';
  box-sizing: border-box;
  padding: 24px 24px 0 24px;
  width: 360px;
}

.title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--text);
}

.filterOptions {
  box-sizing: border-box;
  padding-top: 24px;
}