@import '../../../styles/colors.css';


.filterPopover {
  composes: commonFontSettings from '../../../styles/common.css';
  box-sizing: border-box;
  padding: 16px 16px 0 16px;
  min-width: 320px;
  max-width: 400px;
}

.title {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: var(--text);
  padding-bottom: 4px;
}

.negateTitle {
  height: 16px;
  font-size: 11px;
  font-weight: 500;
  color: var(--neutral-500);
  display: flex;
  justify-content: flex-end;
}

.filterOptions {
  box-sizing: border-box;
  padding-top: 4px;
}

.buttonBarContainer {
  box-shadow: inset 0 1px 0 0 var(--neutral-050);
  margin-left: -16px;
  margin-right: -16px;
  padding-right: 16px;
}