@import '../../styles/common.css';

.buttonBar {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 24px;
  clear:both;
}

.leftButtonSection {
  display: inline-block;
  vertical-align: middle;
  float: left;

  & > a {
   margin: 4px 32px 0 0;
  }
  & > button {
    margin: 0 16px 0 0;
  }
}

.rightButtonSection {
  display: inline-block;
  vertical-align: middle;
  float: right;

  & > a {
    margin: 4px 16px 0 0;
  }
  & > button {
    margin: 0 0 0 16px;
  }
}