@import '../../styles/colors.css';

.buttonBar {
  composes: commonFontSettings from '../../styles/common.css';
  box-sizing: border-box;

  width: 100%;
  height: 64px;

  display: flex;
  justify-content: space-between;

  &.noPadding {
    padding: 0;
    height: auto;
  }
}

.leftButtonSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rightButtonSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.spacer {
  width: 16px;
}