@import '../../styles/colors.css';

.selectContainer {
  composes: commonFontSettings from '../../styles/common.css';
  width: 100%;

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

}

.selectTitle {
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  color: var(--neutral-500);
  height: 12px;
  margin-bottom: 4px;

  &.required:after {
    content: '*';
    color: var(--danger-fg);
  }
}

.selectHelper {
  margin-top: 3px;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.3px;
  text-align: left;
  color: var(--neutral-200);
}

.invalidLabel {
  margin-top: 3px;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.3px;
  text-align: left;
  color: var(--danger-fg);
  white-space: pre-wrap;
}

.errorIcon {
  font-size: 14px;
  margin-right: 4px;
  vertical-align: text-top;
}

.warningLabel {
  margin-top: 3px;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.3px;
  text-align: left;
  color: var(--warning-fg);
}
