@import '../../../../css/colors.css';

.introDesignSystemBox {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 128px;
  padding: 0 76px 0 39px;

  background-color: var(--neutral-030);

  & .numberIconTitleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & .number {
      width: 20px;
      height: 48px;
      font-size: 32px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      color: #00152c;

      margin-right: 111px;
    }

    & .icon {
      display: block;
      width: 64px;
      height: 64px;
      margin-right: 24px;

      &.pages {
        background: url('../../../../images/introduction/pages.svg') no-repeat center;
      }

      &.templates {
        background: url('../../../../images/introduction/templates.svg') no-repeat center;
      }

      &.components {
        background: url('../../../../images/introduction/components.svg') no-repeat center;
      }

      &.foundations {
        background: url('../../../../images/introduction/foundations.svg') no-repeat center;
      }
    }


    & .iconTitle {
      display: flex;
      align-items: center;
      height: 64px;

      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      color: var(--neutral-500);
    }
  }

  & .description {
    width: 430px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--neutral-500);
  }
}