@import '../../../../css/colors.css';

.principleContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  width: 400px;
  min-height: 144px;
  padding: 8px 8px 0 8px;

  & .icon {
    flex-shrink: 0;
    width: 40px;
    height: 40px;

    &.accuracy {
      background: url('../../../../images/introduction/accuracy.svg') no-repeat center;
    }
    &.all {
      background: url('../../../../images/introduction/all.svg') no-repeat center;
    }
    &.clarity {
      background: url('../../../../images/introduction/clarity.svg') no-repeat center;
    }
    &.coherence {
      background: url('../../../../images/introduction/coherence.svg') no-repeat center;
    }
    &.efficiency {
      background: url('../../../../images/introduction/efficiency.svg') no-repeat center;
    }
    &.system {
      background: url('../../../../images/introduction/system.svg') no-repeat center;
    }
  }

  & .textArea {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: var(--neutral-500);
    margin-left: 16px;

    & .title {
      display: block;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.33;
      margin-top: 8px;
    }

    & .description {
      font-size: 18px;
      line-height: 1.33;
      display: block;
      margin-top: 8px;
    }
  }
}

