@import '@osag/pyrene/dist/colors.css';

.container {
  font-family: FiraGO, Helvetica, sans-serif;
  min-height: 32px;
  max-height: 48px;
}

.title {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: var(--text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subContainer {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
  box-shadow: inset 0 -1px 0 0 var(--border);
  height: 16px;
}

.description {
  flex: 1 0 0%;
  min-width: 0;
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-200);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.legend {
  display: flex;
  margin-right: 8px;
  margin-left: auto;
}

.legendLeft {
  margin-left: 0;
}

.legendItem {
  font-size: 12px;
  color: #505d6f;
  display: flex;
  margin-left: 16px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.legendLeft .legendItem:first-child {
  margin-left: 0;
}

.circle {
  height: 8px;
  width: 8px;
  min-width: 8px;
  min-height: 8px;
  border-radius: 5px;
  margin-right: 8px;
}

.checkbox {
  height: 12px;
  width: 12px;
  margin-right: 6px;
  cursor: pointer;
}

.checkboxIcon {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  color: white;
  top: -2px;
  left: 0.5px;
}
