.codeContainer {
  position: relative;
  width: 100%;
  transition: box-shadow 0.4s ease-in-out;
  border-radius: 4px;

  & ::selection {
    background: var(--neutral-500);
  }

  &.pinned {
    box-shadow:
            0 4px 8px -2px rgba(0, 21, 44, 0.2),
            0 0 1px 0 rgba(0, 21, 44, 0.3);
  }
}

.copyToCBButton {
  position: absolute;
  top: 20px;
  right: 56px;
  height: 16px;
  width: 16px;

  cursor: pointer;
  background-color: var(--neutral-000);
  mask: url('../images/copy.svg') no-repeat;

  transition: all .15s ease-in-out;
}

.copyToCBButton:hover {
  background-color: #3afba6;
}

.expandButton {
  position: absolute;
  top: 20px;
  right: 16px;
  height: 16px;
  width: 16px;

  cursor: pointer;
  background-color: var(--neutral-000);
  mask: url('../images/code.svg') no-repeat;

  transition: all .15s ease-in-out;
}

.expandButton:hover {
  background-color: #3afba6;
}

.copyNotification {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  background-color: rgba(91, 224, 136, .6);

  border-radius: 0 0 4px 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: -1;
  opacity: 0;
  transition:
          opacity .5s ease-in-out,
          z-index .5s step-end;


  &.display {
    z-index: 1;
    opacity: 1;

    transition:
            opacity .2s ease-in-out,
            z-index .2s step-start;
  }

  & .label {
    text-transform: uppercase;
    color: var(--neutral-000);
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
