@import 'pyrene/dist/pyrene.css';

p {
  margin-top: 1em;
}

/**** FONTS ****/
/* FiraGo */
@font-face {
  font-family: FiraGo;
  font-weight: 400;
  src: url('../fonts/FiraGo-Regular.woff2') format('woff2'), url('../fonts/FiraGo-Regular.woff') format('woff');
}

@font-face {
  font-family: FiraGo;
  font-weight: 500;
  src: url('../fonts/FiraGo-Medium.woff2') format('woff2'), url('../fonts/FiraGo-Medium.woff') format('woff');
}

@font-face {
  font-family: FiraGo;
  font-weight: 600;
  src: url('../fonts/FiraGO-SemiBold.woff2') format('woff2'), url('../fonts/FiraGO-SemiBold.woff') format('woff');
}

@font-face {
  font-family: FiraGo;
  font-weight: 700;
  src: url('../fonts/FiraGo-Bold.woff2') format('woff2'), url('../fonts/FiraGo-Bold.woff') format('woff');
}

/* Fira Mono */
@font-face {
  font-family: FiraMono;
  font-weight: 400;
  src: url('../fonts/FiraMono-Regular.woff2') format('woff2'), url('../fonts/FiraMono-Regular.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--neutral-010);
  color: var(--font-black);
  font-family: FiraGo, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  background-color: var(--neutral-000);
  display: flex;
  flex: 0;
  min-height: 100vh;
}

.leftContainer {
  position: relative;
  display: block;
  min-width: 284px;
  background-color: var(--neutral-000);
  padding-right: 1px;
  box-shadow: inset -1px 0 0 var(--neutral-sideBar);
}

.copyRight {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  white-space: nowrap;
  letter-spacing: 0.7px;

  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #7f8a95;
}

.pageContainer {
  margin: 64px auto 200px auto;
}

:global(.unSelectable) {
  user-select: none;
}

:global(.activeSideBar) {
  color: var(--blue-500);
}

::selection {
  background: var(--blue-050);
}

/* GRIDS */

:global(.colorGrid) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 59px;
  grid-row-gap: 40px;
}

:global(.iconGrid) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* repeat(12, 1fr) not well enough supported yet.. */
  grid-gap: 16px;
}

:global(.designSystemGrid) {
  display: grid;
  grid-gap: 24px;
}

:global(.principlesGrid) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 40px;
}

:global(.highlighted) {
  background-color: var(--acqua-100);
}