.page {
  width: 930px;
  padding: 0 40px 0 40px;
}

.header {}

.title {
  margin-left: 0;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
}

.description {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;

  & strong {
    font-weight: 600;
  }
}

.topicContent {}

.displayContainer {
  background-color: var(--neutral-000);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  transition: box-shadow 0.4s ease-in-out;

  &.pinned {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  &.darkMode {
    background-color: var(--neutral-400);

    & .componentDisplay {
      border-color: var(--neutral-400);
      box-shadow: inset 0 -1px 0 0 var(--neutral-000);
      border-radius: 4px 4px 0 0;
    }

    & .pin {
      &.pinned, &:hover {
        background-color: #fff;
      }
    }
  }

  & .pin {
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-color: var(--neutral-100);
    mask: url('../images/pin.svg') no-repeat center;
    mask-size: contain;

    top: 4px;
    right: 8px;

    transition: top .09s ease-in;

    &:hover {
      cursor: pointer;
      background-color: var(--neutral-500);
    }

    &.pinned {
      top: 8px;
      background-color: var(--neutral-500);
    }
  }

  & .sun {
    color: #000;
    position: absolute;
    top: 8px;
    left: 8px;
    margin-left: 6px;
    margin-top: 6px;
    width: 3px;
    height: 6px;
    border-radius: 50%;
    border-color: currentColor;
    border-style: solid;
    border-width: 1px 4px 1px 1px;
    box-shadow:
      -8px 0 0 -3px currentColor,
      8px 0 0 -3px currentColor,
      0 -8px 0 -3px currentColor,
      0 8px 0 -3px currentColor,
      -6px -6px 0 -3px currentColor,
      -6px 6px 0 -3px currentColor,
      6px -6px 0 -3px currentColor,
      6px 6px 0 -3px currentColor;
    cursor: pointer;

    transition: all 0.4s ease-in-out;

    &.darkMode {
      transform: rotate(180deg);
      color: #fff;
    }
  }

  & .componentDisplay {
    box-sizing: border-box;
    padding: 40px;

    display: flex;
    justify-content: center;

    border-top: solid 1px var(--neutral-030);
    border-right: solid 1px var(--neutral-030);
    border-left: solid 1px var(--neutral-030);
    border-radius: 4px 4px 0 0;
  }

}