.pagingMenuContainer {
}

.menuButtonBar {
  display: flex;
  justify-content: flex-start;
  box-shadow: inset 0 -1px 0 0 var(--neutral-050);
}

.menuButton {
  height: 48px;

  margin-right: 24px;

  line-height: 48px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--font-gray);

  transition: box-shadow .1s ease-in;
  cursor: pointer;
}

:global(.activePagingButton) .menuButton {
  color: var(--font-black);
  box-shadow: inset 0 -4px var(--neutral-500);
}

:not(:global(.activePagingButton)) > .menuButton:hover {
  box-shadow: inset 0 -4px var(--neutral-200);
}