.header {

}

.title {
  margin-left: 0;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
}

.description {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;

  & strong {
    font-weight: 600;
  }
}

.topicContent {

}

.componentDisplayContainer {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}

.codeContainer {
  justify-content: center;
  margin-top: 40px;
}