.header {

}

.title {
  margin-left: 0;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
}

.description {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 40px;
}

.topicContent {

}


.componentDisplayContainer {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}