@import './colors.css';

.pyreneLogo {
  position: relative;
  height: 152px;
  background: url('../images/pyrene.svg') no-repeat center center;
  cursor: pointer;
}

.versionNr {
  position: absolute;
  left: 192px;
  top: 106px;
  height: 22px;
  padding: 0 4px;
  border-radius: 2px;
  background-color: var(--neutral-030);
  line-height: 22px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: var(--neutral-500);
}