.propEditor {
  content: '';
  padding: 16px;
  background-color: white;

}

.codeContainer {
  position: relative;
  margin-top: 40px;
  width: 100%;

  & ::selection {
    background: var(--neutral-500);
  }
}

.copyToCBIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  box-sizing: border-box;
  height: 32px;
  padding: 8px 16px;
  border-radius: 2px;
  border: none;

  font-size: 12px;
  color: var(--neutral-000);
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
  transition: all .15s ease-in-out;
}

.copyToCBIcon:hover {
  cursor: pointer;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,1);
}