.downloadButton {
  height: 80px;
  width: 506px;

  border: solid 1px var(--neutral-030);
  border-radius: 4px;

  display: flex;
  align-items: center;

  & .iconContainer {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    background-color: var(--neutral-020);
  }

  & .icon {
    width: 80px;
    height: 80px;

    background:  url('/src/images/download.svg') no-repeat center;
  }

  & .name {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--neutral-000);
    padding-left: 40px;

    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: var(--neutral-500);
  }

  &:hover {
    cursor: pointer;

    & .icon {
      background: var(--blue-500);
      mask: url('/src/images/download.svg') no-repeat center;
    }
    & .name, & .fileSize {
      color: var(--blue-500);
    }


  }
}