/* Custom Section */

.wrapper :global .react-datepicker {
  background-color: var(--neutral-000);
  border-radius: 0;
  font-family: FiraGo;
  border: 0;
}

.wrapper :global .react-datepicker__header {
  background-color: var(--neutral-000);
  border-bottom: 1px solid var(--neutral-100);
}

.wrapper :global .react-datepicker__navigation {
  width: 24px;
  height: 24px;
  text-indent: 0;
}

.wrapper :global .react-datepicker__navigation:hover {
  border-radius: 2px;
  background-color: var(--neutral-030);
}

.wrapper :global .react-datepicker__day {
  font-family: FiraGO;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal; 
}

.wrapper :global .react-datepicker__current-month {
  color: var(--neutral-500);
}

.wrapper :global .pyrene__current-year {
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;

  color: var(--neutral-300);
}

.wrapper :global .react-datepicker__day-name {
  color: var(--neutral-100);
}

.wrapper :global .react-datepicker-popper > div {
  padding: 16px;
  background-color: var(--neutral-000);  
  box-shadow: 0 4px 8px -2px rgba(0, 21, 44, 0.2);
  border: solid 1px var(--neutral-050);    
}

.wrapper :global .react-datepicker__day--keyboard-selected, 
.wrapper :global .react-datepicker__month-text--keyboard-selected, 
.wrapper :global .react-datepicker__quarter-text--keyboard-selected, 
.wrapper :global .react-datepicker__year-text--keyboard-selected,
.wrapper :global .react-datepicker__day--selected, 
.wrapper :global .react-datepicker__day--in-selecting-range, 
.wrapper :global .react-datepicker__day--in-range, 
.wrapper :global .react-datepicker__month-text--selected, 
.wrapper :global .react-datepicker__month-text--in-selecting-range, 
.wrapper :global .react-datepicker__month-text--in-range, 
.wrapper :global .react-datepicker__quarter-text--selected, 
.wrapper :global .react-datepicker__quarter-text--in-selecting-range, 
.wrapper :global .react-datepicker__quarter-text--in-range, 
.wrapper :global .react-datepicker__year-text--selected, 
.wrapper :global .react-datepicker__year-text--in-selecting-range, 
.wrapper :global .react-datepicker__year-text--in-range {
  background-color: var(--neutral-500);
  border-radius: 50%;
}

.wrapper :global .react-datepicker__day:hover, 
.wrapper :global .react-datepicker__month-text:hover, 
.wrapper :global .react-datepicker__quarter-text:hover, 
.wrapper :global .react-datepicker__year-text:hover {
  background-color: var(--neutral-030);
  border-radius: 50%;
}

.wrapper :global .react-datepicker__day--outside-month {
  color: var(--neutral-200);
}

.wrapper :global .react-datepicker__header--time::after {
  content: '24h';
  display: block;
  padding-top: 9px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1px;
  text-align: center;
  color: var(--neutral-100);
}
