@import '../../styles/colors.css';

.dateTimeFieldTitle {
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  color: var(--neutral-500);
  height: 12px;
  margin-bottom: 4px;
  line-height: 1.09;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-family: FiraGo;
}


.dateTimeInputArea {
  composes: commonFontSettings from '../../styles/common.css';
  color: var(--neutral-500);

  &, & *, & *:before, & *:after {
    box-sizing: border-box;
    padding: 0px;
  }

  margin: 4px 0 0;
  padding: 4px 0px;
  height: 32px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px var(--neutral-200) inset; /* Places the border inside of the div to prevent size jump */
  background-color: var(--neutral-020); /* same as input default */
  position: relative;
  display: inline-flex;
  align-items: center;

  &:focus-within {
    box-shadow: 0 0 0 1px var(--blue-500) inset;
    background-color: var(--neutral-000);
  }

  &:hover {
    box-shadow: 0 0 0 1px var(--blue-500) inset;
  }  

  &::placeholder{
    color: var(--neutral-300);
  }

  & .centered {
    display: inline-flex;
    align-items: center;    
    height: 16px;
  }    

  & .centered:first-of-type { 
    margin-left: 8px;
    margin-right: 8px;
  }

  & .centered:last-of-type {
    margin-right: 8px;
  }

  & input {
    font-size: 12px;
    margin: 4px 0px 4px 4px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--neutral-500);
    font-family: FiraGO;
    padding: 0px;
    border: none;
    outline: none;
    background-color: inherit;
  }

  & .dateInput {
    width: 67px;
  }

  & .timeInput{
    width: 38px;
  }
}
