.link {
  composes: commonFontSettings from '../../styles/common.css';

  cursor: pointer;
  display: inline-block;
  color: var(--blue-500);

  &:focus {
    outline: 0;
  }

  &:hover {
    text-decoration: underline;
    text-underline: var(--blue-500);
  }

  &.type-standalone {
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    text-transform: capitalize;
    position: relative;

    & span {
      display: inline-block;
      vertical-align: middle;
      line-height: inherit;
      width: 16px;
      padding-left: 2px;
      font-weight: normal;
      font-size: 16px;
    }

    &.isDisabled {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }
  }

  &.type-inline {
    font-size: inherit;
    font-weight: inherit;

    &.isDisabled {
      color: inherit;
      cursor: default;
      pointer-events: none;
    }
  }
}
