@import '../../styles/colors.css';

.link {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--primary);
  text-decoration: none;

  &:focus {
    outline: 0;
  }

  &:hover {
    & .label {
      text-decoration: underline;
      text-underline: var(--primary);
    }
  }

}

.type-standalone {
  composes: commonFontSettings from '../../styles/common.css';
  
  height: 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-transform: capitalize;
  position: relative;

  & .icon {
    width: 16px;
    height: 16px;
    font-weight: 400;
    font-size: 16px;
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.type-inline {
  display: inline;

  &.disabled {
    color: inherit;
    cursor: default;
    pointer-events: none;
  }
}
