@import '../../styles/colors.css';

.link {
  composes: commonFontSettings from '../../styles/common.css';

  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--primary);
  text-decoration: none;

  &:focus {
    outline: 0;
  }

  &:hover {
    & .label {
      text-decoration: underline;
      text-underline: var(--primary);
    }
  }

  &.type-standalone {
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    text-transform: capitalize;
    position: relative;

    & .icon {
      width: 16px;
      height: 14px;
      padding-left: 2px;
      font-weight: 400;
      font-size: 16px;
    }

    &.disabled {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }
  }

  &.type-inline {
    display: inline;
    font-weight: 600;

    &.disabled {
      color: inherit;
      cursor: default;
      pointer-events: none;
    }
  }
}

/* mc.css overrides */
.link {
  &:hover {
    text-decoration: none !important;

    & .icon {
      text-decoration: none !important;
    }
  }
}