@import '../../../../css/colors.css';

.counter {
  display: flex;
  align-items: center;

  & .valueDisplay {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    text-align: center;
    outline: 0;
    border: none;

    &[type=text] {
      padding: 7px 0 6px 8px;

      font-family: AvenirNext, Helvetica, sans-serif;
      font-size: 14px;
      color: var(--neutral-500);
    }
  }

  & .modifier {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 2px;
    border: solid 1px var(--neutral-100);
    background-color: var(--neutral-020);

    display: flex;
    justify-content: center;

    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color: var(--neutral-300);


    &:hover {
      background-color: var(--neutral-000);
      border: solid 1px var(--blue-500);
      color: var(--neutral-500);
    }
  }
}