@import '../../../styles/colors.css';

.treeTableHeader {
  composes: commonFontSettings from '../../../styles/common.css';
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 32px;
  border-top: solid 1px var(--border);
  border-bottom: solid 1px var(--border);

  padding-top: 6px;
  padding-bottom: 6px;
}

.treeTableHeaderCell {
  box-sizing: border-box;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--text);
  width: 100px;
  flex: 100 0 auto;
  padding-right: 16px;

  &:first-child {
    padding-left: 28px;
  }

  &:last-child {
    padding-right: 8px;
  }
}
