/* this file is also imported in the DatePickerRangeSelector component */
@import '../../styles/colors.module.css';

.timeRangeSelector {
  display: flex;
  align-items: center;
  width: 100%;
  composes: commonFontSettings from '../../styles/common.module.css';
  font-size: 12px;
  flex-wrap: wrap;
  color: var(--neutral-500);
  line-height: 16px;

  &.disabled {
    pointer-events: none;
  }
}

.timeRangeSelector--left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  min-width: 50px;
}

.timeRangeSelector--center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-width: 334px;
}

.timeRangeSelector--right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
