@import '../../styles/colors.css';

.timeRangeSelector {
  display: flex;
  align-items: center;
  width: 100%;
  composes: commonFontSettings from '../../styles/common.css';
  font-size: 12px;
  font-weight: 600;
  flex-wrap: wrap;
  color: var(--neutral-500);
  line-height: 1.5;

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }
}

.timeRangeSelector--left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  min-width: 50px;
}

.timeRangeSelector--center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-width: 334px;
}

.timeRangeSelector--right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}