@import 'pyrene/dist/colors.css';

.container {
    width: 100%;
    height: 120px;
}

.keyFigure {
    font-family: FiraGO, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--text);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chart {
    margin-top: 24px;
    height: 86px;
}

.noKeyFigure {
    margin-top: 58px;
}

.sparkLine {
    position: relative;
    top: -91px;
}

.chartOverlay {
    position: relative;
    height: 64px;
    width: 100%;
    top: -86px;
    left: 0px;
}
