@import 'pyrene/dist/colors.css';

.container {
    width: 100%;
    height: 120px;
}

.keyFigure {
    height: 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.67;
    color: var(--text);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chart {
    margin-top: 17px;
    height: 87px;
}

.chartLoading {
    margin-top: 57px;
}

.sparkLine {
    position: relative;
    top: -87px;
}

.chartOverlay {
    position: relative;
    height: 62px;
    width: 100%;
    top: -87px;
    left: 0px;
}