.collapsibleBox {
  & .collapsibleBody {
    display: none;
  }

  &.expanded {
    & .collapsibleBody {
      display: block;
    }
    & .collapsArrow {
      transform: rotate(180deg);
    }
  }
}

.collapsibleHeader {
  height: 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.7;
  color: var(--blue-500);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.collapsArrow {
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin-left: 4px;
  display: inline-block;
  vertical-align: text-bottom;

  transition: all 0.4s ease-in-out;
}