@import '../../styles/colors.css';

.collapsibleBox {
  & .collapsibleBody {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
  }

  &.expanded {
    & .collapsibleBody {
      height: auto;
    }
    & .collapsArrow {
      transform: rotate(180deg) translateY(-1px);
    }
  }

  & .collapsibleButton {

    padding: 0 8px;
    border-radius: 2px;
    display: inline-block;

    font-size: 14px;
    font-weight: 600;
    color: var(--blue-500);

    cursor: pointer;
    &:hover {
      background-color: var(--neutral-030);
    }

    & .centeringBox {
      height: 32px;
      display: flex;
      align-items: center;

      & .collapsArrow {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-left: 4px;
        margin-top: 2px;
        display: inline-block;
        vertical-align: text-bottom;

        transition: all 0.4s ease-in-out;
      }
    }
  }
}

.buttonAlignmentBox {
  display: flex;

  &.align-start {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-end {
    justify-content: flex-end;
  }
}