.container {
  width: 100%;
}

.comparisonContainer svg {
  display: block;
}

.comparisonContainer svg:first-child {
  margin-bottom: 6px;
}

.butterflyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalLine {
  border-left: 1px solid var(--border);
  height: 16px;
  margin-left: 12px;
  margin-right: 12px;
}
