
.container {
  width: 100%;
}

.labelLink:hover {
  text-decoration: underline;
}

.comparisonContainer svg {
  display: block;
}

.comparisonContainer svg:first-child {
  margin-bottom: 6px;
}

.butterflyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.butterflyBar {
  width: calc((100% - 25px) / 2);
}

.verticalLine {
  border-left: 1px solid var(--border);
  height: 16px;
  margin-left: 12px;
  margin-right: 12px;
}

.showMoreLink {
  margin-top: 8px;
  height: 18px;
  font-size: 13px;
  font-weight: 600;
  color: var(--blue-500);
  cursor: pointer;
}

.popOverPlaceholder {
  height: 100%;
  width: 100%;
}

.popOver {
  padding: 24px 0 0 24px;
  width: 448px;
  height: 592px;
  border-radius: 2px;
  box-shadow: 5px 15px 30px 0 rgba(0, 21, 44, 0.2), 0 4px 8px -2px rgba(0, 21, 44, 0.2), 0 0 1px 0 rgba(0, 21, 44, 0.15);
  overflow-y: hidden;
}

.popOverHeader {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.05px;
  color: var(--neutral-500);
  height: 32px;
}

.popOverTable thead {
  padding-right: 24px;
}

.popOverTable tbody {
  height: 512px;
  padding-right: 19px;
  margin-right: 1px;
  overflow-y: auto;

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    width: 4px;
    background-color: var(--neutral-500);
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--neutral-050);
  }
}
