@import '../../styles/colors.css';

.toggleButtonGroup {
  composes: commonFontSettings from '../../styles/common.css';
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;

  & button {
    border: none;
    border-right: solid 1px var(--neutral-050);
    border-top: solid 1px var(--neutral-050);
    border-bottom: solid 1px var(--neutral-050);
    height: 32px;
    padding: 7px 15px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    font-family: inherit;
    line-height: 16px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: var(--background-light);

    /* Keep all buttons on the same row*/
    grid-row: 1;

    /* Keep text in 1 line and keep boxes the same size. */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:first-of-type {
      border-left: solid 1px #e1e3e8;
      border-radius: 2px 0px 0px 2px;
    }

    &.active {
      background-color: var(--neutral-030);
      font-weight: 500;
      cursor: default;

      &:hover {
        background-color: var(--neutral-030);
      }
    }

    &.disabled {
      opacity: .5;
      pointer-events: none;
    }

    &:hover {
      background-color: var(--neutral-020);
    }

    &:last-child {
      border-radius: 0px 2px 2px 0px;
    }
  }

}

.box-shadow {
  box-shadow: 0 4px 8px -2px rgba(0, 21, 44, 0.2);
}
