@import '../../styles/colors.css';

.shareDialogContainer {}

.shareDialog {
  composes: commonFontSettings from '../../styles/common.css';
  padding: 16px 16px 0 16px;

  border-radius: 4px;
  border: solid 1px #e1e3e8;
}

.content {
  height: 32px;
  padding-bottom: 16px;
  width: 350px;

  & .urlField[type="text"] {
    box-sizing: border-box;
    padding-left: 8px;
    width: 100%;

    border-radius: 2px;
    border: solid 1px var(--neutral-100);

    letter-spacing: normal;
    font-family: inherit;
    font-style: normal;
    font-stretch: normal;
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
    color: var(--text);
  }
}

.title {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: var(--text);
  padding-bottom: 16px;
}

.closeButton {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  font-size: 24px;
  color: var(--neutral-300);

  &:hover {
    color: var(--text);
  }
}