@import '../../../styles/colors.css';


.filterButton {
  composes: commonFontSettings from '../../../styles/common.css';
  box-sizing: border-box;
  padding: 0 3px 0 9px;
  border: solid 1px var(--border);
  border-radius: 2px;
  height: 32px;
  display: flex;
  align-items: center;
  margin-right: 8px;
  min-width: 63px;

  &.noBorder {
    border: none;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--secondary);
  }

  &.popoverOpen {
    background-color: var(--secondary);
  }
}

.buttonLabel {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--text);
  padding: 0 4px 0 0;
}

.arrowIcon {
  padding: 0 !important;

  height: 16px;
  width: 16px;

  font-size: 16px;
  color: var(--neutral-300);
}

.disabled {
  opacity: .5;
  cursor: default;
  pointer-events: none;
  /* deactivate hover */
}
