.wrapper {
  composes: commonFontSettings from '../../../styles/common.css';

  display: inline-flex;
  flex-direction: row;
  background-color: #f2f4f5;
  height: 20px;
  border-radius: 2px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
  text-overflow: ellipsis;
  max-width: 336px;
}

.label {
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  color: var(--neutral-300);
  padding-right: 8px;
  padding-left: 8px;
  align-self: center;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.5px;
}

.text {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: var(--neutral-500);
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clearIcon {
  font-size: 12px;
  line-height: 14px;
  color: var(--neutral-300);
  padding: 4px 8px 4px 4px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.clearIcon:hover {
  color: var(--danger-fg);
  cursor: pointer;
}

.negated {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: var(--neutral-500);
  margin-right: 4px;
}