.container {
  width: 100%;
}

.responsiveContainer {
  margin-top: 16px;
  height: 344px;
}

.columnContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.rowContainer {
  flex: 1;
  flex-direction: column;
  width: 0;
  min-width: 0;
}

.axisLeft {
  height: 320px;
  padding-right: 4px;
}

.axisLeftWide {
  width: 98px;
}

.axisLeftNarrow {
  width: 36px;
}

.axisBottom {
  position: relative;
  height: 24px;
  top: -320px;
}

.grid {
  height: 320px;
}

.barsContainer {
  position: relative;
  top: -320px;
  display: flex;
  justify-content: space-around;
  height: calc(100% - 24px);
}

.horizontalContainer {
  flex-direction: column;
}
