.container {
  width: 100%;
}

.columnContainer {
  margin-top: 24px;
  height: 368px;
  display: flex;
  flex-direction: row;
}

.rowContainer {
  flex: 1;
  flex-direction: column;
}

.axisLeftWide {
  width: 102px;
  height: 343px;
}

.axisLeftNarrow {
  position: relative;
  width: 36px;
  height: 343px;
}

.axisBottom {
  position: relative;
  height: 25px;
  top: -343px;
}

.grid {
  position: relative;
  height: 344px;
  top: -342px;
}

.barsContainer {
  display: flex;
  justify-content: space-around;
  height: calc(100% - 24px);
}

.horizontalContainer {
  flex-direction: column;
}
