@import '../../../styles/colors.module.css';

.rowElementsContainer {
  width: 100%;
  border-bottom: solid 1px var(--border);
  padding: 6px;
  min-height: 32px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  composes: commonFontSettings from '../../../styles/common.module.css';
  cursor: default;
  &.activeAction {
    cursor: pointer;
  }
  &:hover {
    background-color: var(--background-tint);
  }

  &.openRootParent {
    background-color: var(--secondary);
  }

  &.highlighted {
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 4px;
    border-right-width: 4px;
    padding-left: 2px;
    padding-right: 2px;
  }

  &.disabled {
    opacity: 0.5;
  }
}
