@import '../../styles/colors.css';

.banner {
  composes: commonFontSettings from '../../styles/common.css';
  box-sizing: border-box;
  padding: 0 16px 0 24px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;

  border: solid 1px;
  border-radius: 2px;

  &.type-info {
    background-color: var(--blue-010);
    border-color: var(--blue-100);
    & .bannerIcon {
      color: var(--blue-500);
    }
  }

  &.type-success {
    background-color: var(--green-010);
    border-color: var(--green-200);
  }

  &.type-error {
    background-color: var(--red-010);
    border-color: var(--red-200);
  }

  &.type-warning {
    background-color: var(--orange-010);
    border-color: var(--orange-200);
    & .bannerIcon {
      color: var(--orange-500);
    }
  }

  &.type-loading {
    border-color: transparent;
  }

  & .bannerIcon {
    height: 16px;
    width: 16px;
    font-size: 16px;
    display: inline-block;
  }

  & .iconMessageContainer {
    display: flex;
    align-items: center;
  }

  & .message {
    color: var(--neutral-500);
  }

  & .spacer {
    width: 16px;
  }

  & .clearIcon {
    display: none;
    height: 24px;
    width: 24px;
    font-size: 24px;
    cursor: pointer;
    color: var(--neutral-300);
    &:hover {
      background-color: rgba(29, 39, 59, 0.05);
    }
  }

  &.clearable {
    & .clearIcon {
      display: block;
    }
  }
}