@import '../../../styles/colors.css';

.treeTableRow {
  composes: commonFontSettings from '../../../styles/common.css';

  &.parent {
    cursor: pointer;
  }
}

.rowElementsContainer {
  box-sizing: border-box;
  min-height: 32px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--neutral-050);
}

.childrenRowsContainer {
  min-height: 32px;

  visibility: hidden;
  display: none;

  &.display {
    visibility: visible;
    display: block;
  }
}

.pivotIcon {
  width: 16px;
  height: 16px;
  font-size: 16px;

  margin-right: 8px;
  &.sectionOpen {
    transform: rotate(-180deg);
  }
}

.iconSpaceholder {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}