@import '../../../styles/colors.css';

.treeTableRow {
  composes: commonFontSettings from '../../../styles/common.css';

  cursor: default;

  &.activeAction {
    cursor: pointer;
  }
}

.rowElementsContainer {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  border-bottom: solid 1px var(--border);
  padding-top: 8px;
  padding-bottom: 7px;

  &:hover {
    background-color: var(--background-tint);
  }

  &.openRootParent {
    background-color: var(--secondary);
  }

  &.highlighted {
    background-color: rgba(240, 211, 24, 0.15);
  }
}

.childrenRowsContainer {
  visibility: hidden;
  display: none;

  &.display {
    visibility: visible;
    display: block;
  }
}
