@import '../../../styles/colors.css';

.treeTableRow {

  &.parent {
    cursor: pointer;
  }
}

.rowElementsContainer {
  min-height: 32px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--neutral-050);

  &:first-child {
    padding-left: 8px;
  }
}

.childrenRowsContainer {
  min-height: 32px;

  visibility: hidden;
  display: none;

  &.display {
    visibility: visible;
    display: block;
  }
}

.pivotIcon {
  width: 16px;
  height: 16px;
  font-size: 16px;

  margin-right: 8px;
  &.sectionOpen {
    transform: rotate(-180deg);
  }
}