@import '../../../../css/colors.css';

.paragraph {
  margin-top: 80px;

  & .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 16px;
    text-transform: capitalize;
  }

  &.large {
    & .title {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}