@import '../../styles/colors.css';

.textAreaContainer {
  composes: commonFontSettings from '../../styles/common.css';

  min-width: 72px;
  display: flex;
  flex-direction: column;

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &.invalid {
    & .textArea {
      border-color: var(--danger-fg);
    }
  }

  &.full {
    & .characterCounter {
      color: var(--danger-fg);
    }
  }
}

.textAreaTitleBar {
  margin-bottom: 4px;
  line-height: 12px;


  & .textAreaTitle {
    float: left;
    font-size: 11px;
    font-weight: 500;
    color: var(--neutral-500);

    &.required:after {
      content: '*';
      color: var(--danger-fg);
    }
  }

  & .characterCounter {
    float: right;
    font-size: 11px;
    font-weight: 400;
    color: var(--neutral-100);
  }

  &:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.textArea {
  box-sizing: border-box;
  width: 100%;
  min-height: 72px;

  margin: 0;

  border-radius: 2px;
  border: solid 1px var(--neutral-100);
  background-color: var(--background-tint);
  outline: none;

  padding: 8px 7px;

  font-family: FiraGO, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: var(--text);

  resize: none;

  &.resizeable {
    resize: vertical;
  }

  &:hover, &:focus {
    border-color: var(--primary);
    background-color: var(--background-tint);
  }

  &.filled {
    background-color: var(--background-light);
    border-radius: 2px;
    border: solid 1px var(--neutral-500);
  }

  &::placeholder {
    font-size: 12px;
    color: var(--neutral-300);
  }

}

.textAreaHelper {
  margin-top: 3px;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.3px;
  text-align: left;
  color: var(--neutral-200);
  font-weight: normal;
}

.invalidLabel {
  margin-top: 3px;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.3px;
  text-align: left;
  color: var(--danger-fg);
}

.errorIcon {
  font-size: 13px;
  margin-right: 4px;
  vertical-align: text-top;
}
