@import '../../styles/colors.css';

.arrowPopover {
  composes: commonFontSettings from '../../styles/common.css';
}

.popover {
  position: relative;
}

.triangle {
  position: absolute;

  z-index: -1;

  bottom: 0;

  background-color: white;

  -webkit-transform: rotate(45deg);
}