@import '../../../styles/colors.css';

.rangeHeader {
  composes: commonFontSettings from '../../../styles/common.css';
  color: var(--neutral-500);
  display: flex;
  padding-top: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--neutral-050);
}

.leftbox, .rightbox {
  margin-left: 16px;
}
