@import '../../styles/colors.css';

.treeTableContainer {
  composes: commonFontSettings from '../../styles/common.css';
  width: 100%;


  & .loading {
    opacity: .5;
    pointer-events: none;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
}

.loadingContainer {}

.treeTableData {}

.treeTableTitle {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--text);
  padding-bottom: 24px;
}

.filterContainer {
  padding-bottom: 24px;
}