@import '../../styles/colors.css';

.container {
  composes: commonFontSettings from '../../styles/common.css';
  color: var(--neutral-500);
  position: relative;

  &, & * {
    box-sizing: border-box;

  }

  & .extraElement {
    display: flex;
    align-items: center;

    & .separator {
      width: 1px;
      height: 16px;
      box-shadow: inset 1px 0 0 0 var(--neutral-050);
      margin: 7px 4px 7px 0;
    }

    & .icon {
      margin: 7px 4px;
      cursor: pointer;
      border-radius: 2px;

      &.disabled {
        pointer-events: none;
      }

      &:hover {
        background-color: var(--neutral-030);
      }
    }

    & .hits {
      padding: 7px 8px;
      color: var(--neutral-300);
      font-size: 12px;
      cursor: default;

      &.disabled {
        visibility: hidden;
      }

      & > span {
        display: block;
        line-height: 100%;
      }
    }

  }
}
