@import '../../../styles/colors.css';

.infoBox {
  font-size: 12px;
  line-height: 32px;  
  padding: 16px 0 16px 16px;
}

.rangeFooter {
  border-top: 1px solid var(--neutral-050);
}

.dateTimeFooter {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footerButtonsBox {
  text-align: right;
  padding: 16px 16px 16px 0;  
}
.footerButtonsBox > div {
  margin-left: 16px;
}