@import '../../../styles/colors.module.css';

.calendar {
  composes: commonFontSettings from '../../../styles/common.module.css';
  position: absolute;
  background-color: var(--neutral-000);
  z-index: 1;
  margin-top: 8px;

  border-radius: 2px;
  box-shadow: 0 4px 8px -2px rgba(0, 21, 44, 0.2);
  border: solid 1px var(--neutral-050);
}

.dateOnly, .dateTime {
  width: auto;
}

.rangeHeader {
  color: var(--neutral-500);
  display: flex;
  padding: 16px 0px 0px 16px;
}

.infoBox {
  font-size: 12px;
  line-height: 32px;  
  padding: 16px 0 16px 16px;
}

.dateTimeFooter {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footerButtonsBox {
  text-align: right;
  padding: 16px 16px 16px 0;  
}
.footerButtonsBox > div {
  margin-left: 16px;
}

.calendar :global .react-datepicker-wrapper {
  width: unset;
}

.leftbox :global .react-datepicker__tab-loop {
  margin-left: -16px;
}

.dateTime .rightbox :global .react-datepicker__tab-loop {
  margin-left: -207px;
}

.dateOnly .rightbox :global .react-datepicker__tab-loop {
  margin-left: -137px;
}

.rightbox {
  position: absolute;
  right: 0;
}

.rightbox :global .react-datepicker-wrapper {
  display: flex;
  padding-right: 16px;
}

.leftbox :global .react-datepicker__input-container,
.rightbox :global .react-datepicker__input-container {
  padding-bottom: 8px;
}

.calendar :global .react-datepicker-popper {
  position: unset!important;
}

.calendar :global .react-datepicker-popper > div {
  box-shadow: unset;
  border: 0px;
  border-top: solid 1px var(--neutral-050);
  border-bottom: solid 1px var(--neutral-050);  
}
