@import '../../../styles/colors.module.css';

.calendar {
  composes: commonFontSettings from '../../../styles/common.module.css';
  position: absolute;
  background-color: var(--neutral-000);
  z-index: 1;
  margin-top: 8px;
}

.dateOnly {
  width: 258px;
}

.dateTime {
  width: 391px;
}

.rangeHeader {
  color: var(--neutral-500);
  display: flex;
  padding: 16px 16px 0px 16px;
  border-bottom: 1px solid var(--neutral-050);
  justify-content: space-between;  

  box-shadow: 0 4px 8px -2px rgba(0, 21, 44, 0.2);
  border: solid 1px var(--neutral-050);    
}

.infoBox {
  font-size: 12px;
  line-height: 32px;  
  padding: 16px 0 16px 16px;
}

.rangeFooter {
  border-top: 1px solid var(--neutral-050);
}

.dateTimeFooter {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footerButtonsBox {
  text-align: right;
  padding: 16px 16px 16px 0;  
}
.footerButtonsBox > div {
  margin-left: 16px;
}


.leftbox :global .react-datepicker__tab-loop {
  margin-left: -17px;
}

.dateOnly .rightbox :global .react-datepicker__tab-loop {
  margin-left: -138px;
}

.dateTime .rightbox :global .react-datepicker__tab-loop {
  margin-left: -208px;
}


.leftbox :global .react-datepicker__input-container,
.rightbox :global .react-datepicker__input-container {
  padding-bottom: 8px;
}

