.timeRangeNavigationBar {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 32px;
}

.timeRange {
  composes: commonFontSettings from '../../../styles/common.css';
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-top: solid 1px var(--neutral-050);
  border-bottom: solid 1px var(--neutral-050);
  padding: 7px 0;

  &.disabled {
    opacity: .5;
    cursor: default;
    pointer-events: none;
    /* deactivate hover */
  }
}

.navigationContentOuter {
  display: flex;
  height: 18px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-left: solid 1px #e1e3e8;
  border-right: solid 1px #e1e3e8;
}

.navigationContentInner {
  width: 248px;
  height: 32px;
  margin: -7px -1px;
}
