.timeRangeNavigationBar {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 32px;
}

.timeRange {
  composes: commonFontSettings from '../../../styles/common.css';
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  border-top: solid 1px #e1e3e8;
  border-bottom: solid 1px #e1e3e8;
  padding-left: 8px;
  padding-right: 8px;

  &.disabled {
     opacity: .5;
     cursor: default;
     pointer-events: none;
     /* deactivate hover */
   }
}

.navigationContentOuter {
  display: flex;
  height: 18px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-left: solid 1px #e1e3e8;
  border-right: solid 1px #e1e3e8;
}

.navigationContentInner {
  display: flex;
  height: 32px;
  margin: -7px -1px;
}