@import "../../styles/colors.css";

.timeUnitSelector {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.timeUnitSelector--center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 358px;
}

.timeUnitSelector--left,
.timeUnitSelector--right {
  display: flex;
  align-items: center;
  width: 250px;
}

.timeUnitSelector--left {
  justify-content: flex-start;
}

.timeUnitSelector--right {
  justify-content: flex-end;
}

.timeUnitSelector--timerange-text {
  height: 16px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: var(--text);
}
