@import '../../../styles/colors.css';

.textFieldContainer {
  composes: commonFontSettings from '../../../styles/common.css';

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &.invalid {
    & .textField {
      border-color: var(--danger-fg);
    }
  }
}

.textFieldTitle {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  color: var(--neutral-400);
  margin-bottom: 3px;

  &.required:after {
    content: '*';
    color: var(--danger-fg);
  }
}


.textFieldIconLayoutContainer{
  position: relative;
}

.textField {
  box-sizing: border-box;

  height: 32px;
  width: 100%;

  border-radius: 2px;
  border: solid 1px var(--inactive-fg);
  background-color: var(--background-tint);
  outline: none;

  &:hover, &:focus {
    border-color: var(--primary);
    background-color: var(--background-light);
  }

  &[type=text] {
    padding: 7px 0 6px 8px;

    font-family: AvenirNext, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    color: var(--text);
  }

  &.hasIcon[type=text] {
    padding-right: 22px;
  }

  &.filled {
    background-color: var(--background-light);
  }

  &::placeholder {
    font-size: 14px;
    color: var(--neutral-200);
  }
}

.textFieldIcon {
  font-size: 12px;
  color: var(--neutral-200);
  position: absolute;
  right: 8px;
  top: 10px;
}

.textFieldHelper {
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  font-weight: 600;
  text-align: left;
  color: var(--inactive-fg);
}

.invalidLabel {
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  font-weight: 600;
  text-align: left;
  color: var(--danger-fg);
}

.errorIcon {
  font-size: 14px;
  margin-right: 4px;
  vertical-align: text-top;
}