@import '../../../styles/colors.css';

.filterOption {
  composes: commonFontSettings from '../../../styles/common.css';
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  height: 48px;
}

.label {
  font-size: 11px;
  line-height: 12px;
  font-weight: 500;
  align-self: center;
  color: var(--neutral-500);
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  padding-right: 16px;
  padding-bottom: 12px;
}

.interface {
  width: 200px;
  margin-right: 16px;
}

.filterOptionWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.negatedCheckbox {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding-bottom: 12px;
}