@import '../../styles/colors.css';

.container {
  width: 100%;
}

.header {
  background-color: #ffffff;
  padding: 24px;
  border: solid 1px var(--border);
  border-bottom: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.footer {
  background-color: #ffffff;
  padding: 24px;
  border: solid 1px var(--border);
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.content {
  background-color: #ffffff;
  padding: 24px;
  border: solid 1px var(--border);
  position: relative;
}

.content--noHeader {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.content--noFooter {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.content--loading {
  min-height: 160px;
}

.error, .loader {
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}