@import '../../styles/colors.module.css';

.container {
  width: 100%;
}

.header {
  background-color: #ffffff;
  border: solid 1px var(--border);
  border-bottom: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.footer {
  background-color: #ffffff;
  border: solid 1px var(--border);
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.content {
  background-color: #ffffff;
  /* 1 px border default */
  border: solid 1px var(--border);
  position: relative;

  /* 4px highlight  */
  &.highlight {
    border-left-width: 4px;
    border-right-width: 4px;
  }
}

.content--noHeader {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.content--noFooter {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.error,
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  align-items: flex-start;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.xsmall .header,
.xsmall .content,
.xsmall .footer {
  padding: 4px;

  &.highlight {
    padding-left: 1px;
    padding-right: 1px;
  }
}

.small .header,
.small .content,
.small .footer {
  padding: 8px;

  &.highlight {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.medium .header,
.medium .content,
.medium .footer {
  padding: 16px;

  &.highlight {
    padding-left: 13px;
    padding-right: 13px;
  }
}

.large .header,
.large .content,
.large .footer {
  padding: 24px;

  &.highlight {
    padding-left: 21px;
    padding-right: 21px;
  }
}

.xlarge .header,
.xlarge .content,
.xlarge .footer {
  padding: 32px;

  /* 4px border - 1px default = 32px - 3px = 29px */
  &.highlight {
    padding-left: 29px;
    padding-right: 29px;
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.shareLink {
  margin-left: auto;
}
