@import '../../../styles/colors.css';


.tableCell {
  composes: commonFontSettings from '../../../styles/common.css';

  &:first-child .tableData.multiSelect {
    overflow: visible;
    padding-top: 3px;
    padding-bottom: 4px;
  }
}

.tableData {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 16px;
  height: 31px;
  padding-top: 8px;
  padding-bottom: 7px;
}

.overflowAble {
  overflow: visible;
}
