{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [
      ]
    },
    "development": {
      "plugins": [
        "react-docgen"
      ]
    },
    "production": {
      "plugins": [
      ]
    }
  },

  "plugins": [
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
