.example {
  padding: 24px;

  &:hover {
    cursor: pointer;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px var(--blue-500);
  }

  &.hoveredLast {
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px var(--neutral-100);
  }
}

.componentOverlay {
  pointer-events: none;
}

