.exampleBox {
  box-sizing: border-box;

}

.exampleDisplay {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;

  border-radius: 4px;
  border: solid 1px var(--neutral-050);
}


.exampleDescriptionBox {
  box-sizing: border-box;
  width: 100%;

  font-size: 14px;
  line-height: 1.71;
  color: var(--neutral-500);
  position: relative;
  height: 56px;

  &.placeholder {
    color: var(--neutral-200);
    font-style: italic;
  }
}

.exampleDescription {
  min-height: 70px;
  max-height: 70px;
  padding: 16px;
  position: absolute;
}