.exampleBox {
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px var(--neutral-050);
}

.exampleDisplay {
  display: flex;
  justify-content: flex-start;
}

.example {
  padding: 24px;

  &:hover {
    cursor: pointer;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px var(--blue-500);
  }
}

.componentOverlay {
  pointer-events: none;
}

.exampleDescriptionBox {
  box-sizing: border-box;
  height: 56px;
  width: 100%;
  padding: 16px;
  background-color: var(--neutral-020);

  font-size: 14px;
  line-height: 1.71;
  color: var(--neutral-200);
}