.exampleBox {
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px var(--neutral-050);
}

.exampleDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}


.exampleDescriptionBox {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  background-color: var(--neutral-020);

  font-size: 14px;
  line-height: 1.71;
  color: var(--neutral-500);

  &.placeholder {
    color: var(--neutral-200);
    font-style: italic;
  }
}

.exampleDescription {
  min-height: 70px;
  max-height: 70px;
  display: flex;
  align-items: center;
  overflow: auto;

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    width: 3px;
    background-color: var(--neutral-400);
  }

  &::-webkit-scrollbar {
    width: 3px;
  }
}