@import '../../styles/colors.module.css';

.radioSelectionContainer {
  composes: commonFontSettings from '../../styles/common.module.css';
  outline: 0 !important;
}

.radioGroupContainer {
  &.alignment-vertical {
    display: inline-block;
  }

  &.alignment-horizontal {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.radioGroupTitle {
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  color: var(--neutral-500);
  line-height: 12px;
  margin-bottom: 4px;
}

.spacer-horizontal {
  width: 16px;
}

.spacer-vertical {
  height: 8px;
}
