@import '../../styles/colors.css';

.radioSelectionContainer {
  composes: commonFontSettings from '../../styles/common.css';
  outline: 0 !important;

  &.alignment-vertical {
    display: inline-block;
  }

  &.alignment-horizontal {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.spacer-horizontal {
  width: 16px;
}

.spacer-vertical {
  height: 8px;
}
