@import '../../styles/colors.css';

.radioSelectionContainer {
  composes: commonFontSettings from '../../styles/common.css';
  outline: 0 !important;

  &.alignment-vertical {
    display: inline-block;
  }

  &.alignment-horizontal {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.radioInput {
  display: none;
}

.radioIcon {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  margin-right: 6px;
}

.radioLabel {
  height: 24px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.71;
  text-transform: capitalize;
  cursor: pointer;

  &.checked {
    &.disabled .radioIcon {
      opacity: 0.5;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;

    &.checked {
      opacity: 1;
    }
  }
}

.spacer-horizontal {
  width: 16px;
}

.spacer-vertical {
  height: 8px;
}
